<!-- About EzyShopper Section -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">About EzyShopper</h2>
          <p class="text-secondary mb-5 lead fs-4">
            At EzyShopper, we redefine shopping by making it simple, accessible, and enjoyable. Our mission is to connect you with the best deals and top-notch products, ensuring an effortless shopping experience.
          </p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-primary">
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6">
          <img class="img-fluid rounded" loading="lazy" src="https://img.freepik.com/free-photo/online-shopping-web-shop-e-shopping-concept_53876-120632.jpg" alt="About EzyShopper">
        </div>
        <div class="col-12 col-lg-6 col-xxl-6">
          <div class="row justify-content-lg-end">
            <div class="col-12 col-lg-11">
              <div class="about-wrapper">
                <p class="lead mb-4 mb-md-5">
                  Our dedicated team strives to provide cutting-edge solutions tailored to meet our customers’ needs. From exclusive product selections to sustainable initiatives, we are passionate about delivering unparalleled value.
                </p>
                <div class="row gy-4 mb-4 mb-md-5">
                  <div class="col-12 col-md-6">
                    <div class="card border">
                      <div class="card-body p-4">
                        <h3 class="display-5 fw-bold text-primary text-center mb-2">500+</h3>
                        <p class="fw-bold text-center m-0">Top Brands</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="card border">
                      <div class="card-body p-4">
                        <h3 class="display-5 fw-bold text-primary text-center mb-2">50k+</h3>
                        <p class="fw-bold text-center m-0">Happy Shoppers</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="main-layout/products" class="btn btn-primary btn-lg">
                  Shop Now
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  