<div class="container mt-5 d-flex bg-white" style="position: relative; border-radius: 10px; width: 55%;">
    <!-- Login Form Section -->
    <div class="col-6 d-flex align-items-center justify-content-start p-3" style="display: flex; justify-content: start;border-radius: 10px;">
        <div
            class="rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-900 d-flex flex-column h-100 w-100 p-4" style="border-radius: 10px;">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="d-flex flex-column gap-3">
                <div class="header text-center">
                    <h1>Login</h1>
                    <p style="color: gray;">See your growth and get consulting support!</p>
                    <button class="google btn btn-light my-2">
                        <img src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000"
                            width="25" height="25">
                        Sign in with Google
                    </button>
                </div>
                <div class="content">
                    <div class="mb-3">
                        <label>User Name:</label>
                        <input type="text" class="form-control" placeholder="User Name">
                    </div>
                    <div class="mb-3">
                        <label>Password:</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" checked>
                            <label for="rememberMe" class="form-check-label">Remember Me</label>
                        </div>
                        <a href="#">Forget Password?</a>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Image Section -->
    <div class="col-6 d-flex align-items-center justify-content-center p-3 image" style="display: flex; justify-content: center;">
        <img src="https://blog-frontend.envato.com/cdn-cgi/image/width=2560,quality=75,format=auto/uploads/sites/2/2022/04/E-commerce-App-JPG-File-scaled.jpg"
            alt="E-commerce App" style="border-radius: 10px; width: 500px; height: 400px; ">
    </div>
</div> 